.glass-effect {
    position: relative;
    width: 800px; /* Adjust as needed */
    height: 600px; /* Adjust as needed */
    background: rgba(255, 255, 255, 0.2); /* White color with 20% transparency */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    padding: 50px;
}

.glass {
    /* padding: 50px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); /* White color with 30% transparency */
    filter: blur(5px); /* Apply a blur effect */
    z-index: -1; /* Place behind the content */
}

.glass span {
    padding: 50px;
    position: relative;
    z-index: 1; /* Place above the glass layer */
    text-align: center;
    line-height: 200px; /* Vertically center the content */
    font-weight: bold;
}
