<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisionMetrics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/explore_button.css">
    <link rel="stylesheet" href="../static/css/end-page-animation.css"
    


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Kode+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navbar -->

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark"> -->
<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="../static/Images/Logo/Light-logo-copy.jpg" style="width: 250px; height: 60px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: right;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="padding-left: 40px;">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/explore" style="padding-left: 40px;">EXPLORE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feature" style="padding-left: 40px;">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="padding-left: 40px;">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style="padding-left: 40px;">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- Our Story -->


<div class="container" id="con-1">
  <h2>OUR STORY</h2>
  <hr>
  <br>
  <h4>At the heart of our journey lies a team of enthusiastic Software Engineers, united by a love for diverse projects. Our collaborative journey began during an internship at a respected organization which is Defence Research and Development Organization (DRDO), where we honed our skills and fostered a deep passion for innovation.
    Fueled by a relentless curiosity, we found ourselves at the forefront of technology, leading to the creation of VisionMetrics – a transformative project in the realm of automated analog gauge monitoring. From real-time insights to cost-effective implementations, we've strived for excellence.
    We will be continuing the exploration of new horizons, driven by the belief that software engineering can make a profound impact. And coming up with some more projects and innovations.</h4>
  <br>
  <br>
  
  <a href="#about-us">
    <button class="btn">
    <!-- <span class="btn-text-one">Know the Team</span> -->
    <span class="btn-text-one">Our Tech Artisans</span>
    <span class="btn-text-two">Connect Us!</span>
    </button>
  </a>
</div>





<!-- About us Section -->

<section class="my-5" id="about-us">

  <div class="py-5">
    <h2 class="text-center">ABOUT US</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12">

        <div class="card" style="width: 18rem;">
          <img src="../static/Images/Team/hrishi.jpg" class="rounded card-img-top" alt="Loading...">
          <div class="card-body">
            <h4 class="card-title">Hrishikesh Bari</h4>
            <h5 class="card-title">Tech Explorer</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">A final year BTech student specialising in Machine Learning and Computer Vision. With a keen understanding of the latest tech, I am poised to contribute to innovative solutions and advancements in the field.</li>
          </ul>
          <div class="card-body">
            <a href="https://www.linkedin.com/in/hrishikesh-bari-07bb03222/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/hrishi-2407" target="_blank" class="fa fa-github"></a>
            <a href="https://www.instagram.com/hrishi_2407/" target="_blank" class="fa fa-instagram"></a>
            <a href="mailto:hrishibari24@gmail.com" target="_blank">
              <img src="../static/Images/email logo.png" class="logoimg" alt="Email Logo">
            </a>
          </div>
        </div>

      </div>




      <div class="col-lg-3 col-md-3 col-12">

        <div class="card" style="width: 18rem;">
          <img src="../static/Images/Team/Rushikesh.jpg" class="rounded card-img-top" alt="Loading...">
          <div class="card-body">
            <h4 class="card-title">Rushikesh Shinde</h4>
            <h5 class="card-title">Digital Visionary</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">I am Btech student specializing in Computer Science, I am visionary person navigating the tech landscape with innovative zeal. Passionate about coding and emerging technologies, I envision the future of digital possibilities. </li>
          </ul>
          <div class="card-body">
            <a href="https://www.linkedin.com/in/rushikesh-shinde-273872222/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/RushikeshShinde003" target="_blank" class="fa fa-github"></a>
            <a href="https://www.instagram.com/rushikesh003?igsh=MWltcmFteTI3eGVtOA==" target="_blank" class="fa fa-instagram"></a>
            <a href="mailto:rushikesh4shinde003@gmail.com" target="_blank">
              <img src="../static/Images/email logo.png" class="logoimg" alt="Email Logo">
            </a>
          </div>
        </div>
      </div>




      <div class="col-lg-3 col-md-3 col-12">

        <div class="card" style="width: 18rem;">
          <img src="../static/Images/Team/nani.jpg" class="rounded card-img-top" alt="Loading...">
            <div class="card-body">
              <h4 class="card-title">Kaveti Nani Kartik</h4>
              <h5 class="card-title">Digital Maverick</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">I am Computer Science BTech final year student. Fearlessly navigating the technological frontier, my passion for coding and emerging technologies drives me forward. Fueled by boundless curiosity, I enthusiastically tackle challenges.</li>
            </ul>
            <div class="card-body">
              <a href="www.linkedin.com/in/kaveti-nani-kartik-60b9481b6" target="_blank" class="fa fa-linkedin"></a>
              <a href="https://github.com/nanikartik" target="_blank" class="fa fa-github"></a>
              <a href="https://www.instagram.com/nani.kartik?igsh=MXQxOTQycXZ1am9ubQ%3D%3D&utm_source=qr " target="_blank" class="fa fa-instagram"></a>
              <a href="mailto:kavetinanikartik_8888@yahoo.com" target="_blank">
                <img src="../static/Images/email logo.png" class="logoimg" alt="Email Logo">
              </a>
            </div>
        </div>
        
      </div>




      <div class="col-lg-3 col-md-3 col-12">

        <div class="card" style="width: 18rem;">
          <img src="../static/Images/Team/suhas.jpg" class="rounded card-img-top" alt="Loading...">
            <div class="card-body">
              <h4 class="card-title">Suhas Pawar</h4>
              <h5 class="card-title">Inquisitive Coder</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">A final year BTech student specializing in Computer Science, I am passionate about exploration and constantly push the boundaries for coding. My curiosity fuels a desire to uncover new challenges and find solutions.</li>
  
            </ul>
            <div class="card-body">
              <a href="https://www.linkedin.com/in/suhas-pawar-sp1001/" target="_blank" class="fa fa-linkedin"></a>
              <a href="https://github.com/suhas-1001" target="_blank" class="fa fa-github"></a>
              <a href="https://www.instagram.com/shubz_1001?igsh=MWprYnFuM3N3d3Y3" target="_blank" class="fa fa-instagram"></a>
              <a href="mailto:suhas112001@gmail.com" target="_blank">
                <img src="../static/Images/email logo.png" class="logoimg" alt="Email Logo">
              </a>
            </div>
        </div>
        
      </div>
    </div>
  </div>

</section>


<!-- End Page Animation -->

<div class="loader" style="padding-bottom: 50px; margin-bottom: 30px;">
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>